@page
@using System.Linq
@using Octopus.Public.Web.App.Documentation.Guides
@model Octopus.Public.Web.Pages.Index
@{
    Layout = "_Layout";
    ViewBag.Title = "Pricing · Teams of any size";
    ViewBag.MetaDescription ??= "Octopus deploy can be purchased as either a cloud subscription or a self-hosted license.";
}

<style>
    .table--comparison {
        border: none;
    }

    .table--comparison .table-header {
        position: sticky;
        top: 66px;
        background-color: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(10px);
    }

    .table--comparison thead th {
        border: none;
        height: 9rem;
        padding-bottom: 1.2rem;
    }

    .table--comparison tbody td {
        text-align: center;
        height: 6.5rem;
        vertical-align: middle;
    }

    .table--comparison tbody td:first-of-type {
        text-align: start;
        border-left: none;
        width: 20rem;
    }

    .table--comparison tbody td:last-of-type {
        border-right: none;
    }


    .table--comparison.table-bordered > tbody > tr > td,
    .table--comparison.table-bordered > tbody > tr > th,
    .table--comparison.table-bordered > tfoot > tr > td,
    .table--comparison.table-bordered > tfoot > tr > th,
    .table--comparison.table-bordered > thead > tr > td,
    .table--comparison.table-bordered > thead > tr > th {
        border-color: #ECF0F3;
    }

    .social-proof-carousel {
        height: 300px;
    }

    .social-proof-carousel__container {
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-proof-carousel__logo {
        max-height: 3.5rem;
        max-width: 8rem;
    }

    .social-proof-carousel__logo:not(.active) {
        filter: grayscale(100%)
    }


</style>

<header class="stripe stripe-gray stripe-curved">
    <div class="container max-w-800 mx-auto">
        <div class="text-center">
            <h1>Only pay for what you use</h1>
            <p class="fs-20">
                Our plans cover enterprise, small teams, personal projects, and everything in between. With pricing that
                scales, you’ll only pay for the targets you need.
            </p>
        </div>
        <div class="row mx-auto mt-5">
            <div class="col-md pr-md-0">
                <div class="radio-button">
                    <input type="radio" id="cloud" name="platform" value="cloud" checked="checked">
                    <label for="cloud">
                        <strong class="fs-18">Cloud</strong>
                        <br>
                        <span class="fs-14 text-muted font-weight-normal">Deployments as-a-service</span>
                    </label>
                </div>
            </div>
            <div class="col-md">
                <div class="radio-button">
                    <input type="radio" id="server" name="platform" value="server">
                    <label for="server" class="radio-button">
                        <strong class="fs-18">Server</strong>
                        <br>
                        <span class="fs-14 text-muted font-weight-normal">Octopus on your infrastructure</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>

<section class="stripe-white mb-4" style="margin-top: -4rem !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class='card' style="min-height: 460px; max-width: 350px">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <div class="card__header">
                                <div class="d-flex text-normal">
                                    <i class="fa fa-user-alt fs-18 mr-2"></i>
                                    <h6 class="m-0">Community</h6>
                                </div>
                                <p class="color-text-muted small mt-2">For hobby projects and open source</p>
                                <hr class="color-grey-20" />
                            </div>
                            <div class="card__price">
                                <div class="d-flex justify-content-center align-items-baseline">
                                    <h1 class="fw-400 mt-0 mb-0 mr-2">$10.00</h1>
                                    <p class="small">flat fee, per month</p>
                                </div>
                                <p class="small text-muted text-center">Billed monthly, 10 <abbr><a tabindex="0" href="#" class="clickable" data-container="body" data-toggle="popover" data-placement="right" onclick="void(0);" title="" data-content="Deployment targets are the servers and cloud PaaS resources (typically the number of virtual machines) that you deploy to. <a href='/pricing/faq#cloud-pricing'>Learn more</a>.<br/><br/>You will only be charged for the targets you use in your cloud instance." data-original-title="What are deployment targets?">targets</a></abbr> maximum</p>
                            </div>
                            <div class="card__features">
                                <ul class="fa-ul d-flex flex-column mt-3 ml-4" style="gap: var(--spacer-2);">
                                    <li>
                                        <span class="fa-li">
                                            <i class="fa color-text-cyan-40 fa-check-circle fs-18"></i>
                                        </span>
                                        <span>Market Differentiator 1</span>
                                    </li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fa color-text-cyan-40 fa-check-circle fs-18"></i>
                                        </span>
                                        <span>Market Differentiator 1</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex text-center flex-column">
                            <button type="button" class="btn btn-success">Start a free trial</button>
                            <p class="fs-12 mt-2 mb-0 text-muted">Free for 30 days. No credit card required.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class='card' style="min-height: 460px; max-width: 350px">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <div class="card__header">
                                <div class="d-flex text-normal">
                                    <i class="fa fa-users fs-18 mr-2"></i>
                                    <h6 class="m-0">Professional</h6>
                                </div>
                                <p class="color-text-muted small mt-2">For small teams with moderate bandwidth</p>
                                <hr class="color-grey-20" />
                            </div>
                            <div class="card__price">
                                <div class="d-flex justify-content-center align-items-baseline">
                                    <h1 id="card-price" class="fw-400 mt-0 mb-0 mr-2">$12.00</h1>
                                    <p class="small">per <abbr><a tabindex="0" href="#" class="clickable" data-container="body" data-toggle="popover" data-placement="right" onclick="void(0);" title="" data-content="Deployment targets are the servers and cloud PaaS resources (typically the number of virtual machines) that you deploy to. <a href='/pricing/faq#cloud-pricing'>Learn more</a>.<br/><br/>You will only be charged for the targets you use in your cloud instance." data-original-title="What are deployment targets?">target</a></abbr>, per month</p>
                                </div>
                                <p class="small text-muted text-center">Billed <span id="billing-cycle">annually</span>, 5 <abbr><a tabindex="0" href="#" class="clickable" data-container="body" data-toggle="popover" data-placement="right" onclick="void(0);" title="" data-content="Deployment targets are the servers and cloud PaaS resources (typically the number of virtual machines) that you deploy to. <a href='/pricing/faq#cloud-pricing'>Learn more</a>.<br/><br/>You will only be charged for the targets you use in your cloud instance." data-original-title="What are deployment targets?">targets</a></abbr> minimum</p>
                            </div>
                            <div class="card__billing-container d-flex justify-content-center bg-light p-2 border-grey30 rounded w-100 mx-auto">
                                <button type="button" id="annually" data-selected="true" data-price="$12.00" data-billing-cycle='annually' class="btn btn-link btn-sm w-100 mr-2">Annually (-20%)</button>
                                <button type="button" id="monthly" data-selected="false" data-price="$15.00" data-billing-cycle='monthly' class="btn btn-link btn-sm w-100">Monthly</button>
                            </div>
                            <div class="card__features">
                                <ul class="fa-ul d-flex flex-column mt-3 ml-4" style="gap: var(--spacer-2);">
                                    <li>
                                        <span class="fa-li">
                                            <i class="fa color-text-cyan-40 fa-check-circle fs-18"></i>
                                        </span>
                                        <span>Market Differentiator 1</span>
                                    </li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fa color-text-cyan-40 fa-check-circle fs-18"></i>
                                        </span>
                                        <span>Market Differentiator 1</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex text-center flex-column">
                            <button type="button" class="btn btn-success">Start a free trial</button>
                            <p class="fs-12 mt-2 mb-0 text-muted">Free for 30 days. No credit card required.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class='card' style="min-height: 460px; max-width: 350px">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <div class="card__header">
                                <div class="d-flex text-normal">
                                    <i class="fa fa-building fs-18 mr-2"></i>
                                    <h6 class="m-0">Enterprise</h6>
                                    <span class="badge badge-primary ml-auto">New</span>
                                </div>
                                <p class="color-text-muted small mt-2">For teams seeking greater performance</p>
                                <hr class="color-grey-20" />
                            </div>
                            <div class="card__price">
                                <div class="d-flex justify-content-center align-items-baseline">
                                    <h1 class="fw-400 mt-0 mb-0 mr-2">$18.00</h1>
                                    <p class="small">per <abbr><a tabindex="0" href="#" class="clickable" data-container="body" data-toggle="popover" data-placement="right" onclick="void(0);" title="" data-content="Deployment targets are the servers and cloud PaaS resources (typically the number of virtual machines) that you deploy to. <a href='/pricing/faq#cloud-pricing'>Learn more</a>.<br/><br/>You will only be charged for the targets you use in your cloud instance." data-original-title="What are deployment targets?">target</a></abbr>, per month</p>
                                </div>
                                <p class="small text-muted text-center">Billed annually, 100 <abbr><a tabindex="0" href="#" class="clickable" data-container="body" data-toggle="popover" data-placement="right" onclick="void(0);" title="" data-content="Deployment targets are the servers and cloud PaaS resources (typically the number of virtual machines) that you deploy to. <a href='/pricing/faq#cloud-pricing'>Learn more</a>.<br/><br/>You will only be charged for the targets you use in your cloud instance." data-original-title="What are deployment targets?">targets</a></abbr> minimum</p>
                            </div>
                            <div class="card__features">
                                <ul class="fa-ul d-flex flex-column mt-3 ml-4" style="gap: var(--spacer-2);">
                                    <li>
                                        <span class="fa-li">
                                            <i class="fa color-text-cyan-40 fa-check-circle fs-18"></i>
                                        </span>
                                        <span>Market Differentiator 1</span>
                                    </li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fa color-text-cyan-40 fa-check-circle fs-18"></i>
                                        </span>
                                        <span>Market Differentiator 1</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex text-center flex-column">
                            <button type="button" class="btn btn-primary">Request a demo</button>
                            <span class="fs-12 text-muted">or&nbsp;<a type="button" class="btn-link text-primary mt-2 mb-0">get a quote</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="text-muted fs-14">*Volume discounts apply for 500 or more targets. <a href="~/company/contact">Contact us</a> for details.</p>
        </div>
    </div>
</section>

<section class="stripe stripe-white">
    <div class="container">
        <div class="text-center">
            <h2 class="fs-34 mb-4">Compare features</h2>
        </div>
        <table class="table position-relative table--comparison table-bordered">
            <thead class="table-header">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">
                        <div class="d-flex flex-column">
                            <div class="d-flex text-normal mb-3">
                                <i class="fa fa-user fs-18 mr-2"></i>
                                <h6 class="m-0">Community</h6>
                            </div>
                            <a href="/start" class="btn btn-outline-success btn-small">
                                <span>Start a free trial</span>
                                <hover-button>
                                    <svg class="hover-arrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true" style="vertical-align: baseline; margin-left: 6px">
                                        <g fill-rule="evenodd">
                                            <path class="hover-arrow-line" d="M0 5h7"></path>
                                            <path class="hover-arrow-tip" d="M1 1l4 4-4 4" style=""></path>
                                        </g>
                                    </svg>
                                </hover-button>
                            </a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex flex-column">
                            <div class="d-flex text-normal mb-3">
                                <i class="fa fa-users fs-18 mr-2"></i>
                                <h6 class="m-0">Professional</h6>
                            </div>
                            <a href="/start" class="btn btn-outline-success btn-small">
                                <span>Start a free trial</span>
                                <hover-button>
                                    <svg class="hover-arrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true" style="vertical-align: baseline; margin-left: 6px">
                                        <g fill-rule="evenodd">
                                            <path class="hover-arrow-line" d="M0 5h7"></path>
                                            <path class="hover-arrow-tip" d="M1 1l4 4-4 4" style=""></path>
                                        </g>
                                    </svg>
                                </hover-button>
                            </a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex flex-column">
                            <div class="d-flex text-normal mb-3">
                                <i class="fa fa-building fs-18 mr-2"></i>
                                <h6 class="m-0">Enterprise</h6>
                            </div>
                            <a href="~/company/contact" class="btn btn-outline-primary btn-small">
                                <span>Request a demo</span>
                                <hover-button>
                                    <svg class="hover-arrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true" style="vertical-align: baseline; margin-left: 6px">
                                        <g fill-rule="evenodd">
                                            <path class="hover-arrow-line" d="M0 5h7"></path>
                                            <path class="hover-arrow-tip" d="M1 1l4 4-4 4" style=""></path>
                                        </g>
                                    </svg>
                                </hover-button>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody style="border-right: none; border-left: none;">
                <tr>
                    <td>
                        <abbr>
                            <a 
                            tabindex="0" 
                            href="#" 
                            class="clickable" 
                            data-container="body"
                            data-toggle="popover" 
                            data-placement="right" 
                            onclick="void(0);" 
                            data-content="Email-based support from our team in multiple timezones, staffed by engineers who work on the product."
                            >
                                <strong>World-class support</strong> <i class="fa fa-info-circle"></i>
                            <a>
                        <abbr>
                    </td>
                    <td></td>
                    <td><i class="fs-24 fa fa-check-circle color-text-cyan-40"></i></td>
                    <td><i class="fs-24 fa fa-check-circle color-text-cyan-40"></i></td>
                </tr>
                <tr>
                    <td>
                        <abbr>
                            <a 
                            tabindex="0" 
                            href="#" 
                            class="clickable" 
                            data-container="body"
                            data-toggle="popover" 
                            data-placement="right" 
                            onclick="void(0);" 
                            data-content="Multiple Octopus Server nodes in an active/active, highly available configuration with a load balancer in the front, ensuring you can deploy (or rollback!) 24/7."
                            >
                                <strong>High availability</strong> <i class="fa fa-info-circle"></i>
                            <a>
                        <abbr>
                    </td>
                    <td></td>
                    <td></td>
                    <td><i class="fs-24 fa fa-check-circle color-text-cyan-40"></i></td>
                </tr>
                <tr>
                    <td>
                        <abbr>
                            <a 
                            tabindex="0" 
                            href="#" 
                            class="clickable" 
                            data-container="body"
                            data-toggle="popover" 
                            data-placement="right" 
                            onclick="void(0);" 
                            data-content="Give each team their own space, with their own projects, environments, tenants, step templates and more. <a href='https://g.octopushq.com/spaces'>Learn more</a>."
                            >
                                <strong>Spaces</strong> <i class="fa fa-info-circle"></i>
                            <a>
                        <abbr>
                    </td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td>
                        <abbr>
                            <a 
                            tabindex="0" 
                            href="#" 
                            class="clickable" 
                            data-container="body"
                            data-toggle="popover" 
                            data-placement="right" 
                            onclick="void(0);" 
                            data-content="Run one Octopus Deploy service for production usage by your team, and set up extras for dev/test. Or use two separate Octopus Deploy instances to keep production and pre-production deployments isolated."
                            >
                                <strong>Concurrent Octopus Server instances</strong> <i class="fa fa-info-circle"></i>
                            <a>
                        <abbr>
                    </td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td>
                        <abbr>
                            <a 
                            tabindex="0" 
                            href="#" 
                            class="clickable" 
                            data-container="body"
                            data-toggle="popover" 
                            data-placement="right" 
                            onclick="void(0);" 
                            data-content="Maximum number of deployments that can be running at the same time (limited by hardware, of course!)"
                            >
                                <strong>Concurrent deployment tasks</strong> <i class="fa fa-info-circle"></i>
                            <a>
                        <abbr>
                    </td>
                    <td>Scalable</td>
                    <td>Scalable</td>
                    <td>Scalable</td>
                </tr>
                <tr>
                    <td>
                        <abbr>
                            <a 
                            tabindex="0" 
                            href="#" 
                            class="clickable" 
                            data-container="body"
                            data-toggle="popover" 
                            data-placement="right" 
                            onclick="void(0);" 
                            data-content="Maximum amount of packages, artifacts and task logs that can be stored for your deployments."
                            >
                                <strong>File storage</strong> <i class="fa fa-info-circle"></i>
                            <a>
                        <abbr>
                    </td>
                    <td>1TB</td>
                    <td>1TB</td>
                    <td>100TB</td>
                </tr>
                <tr>
                    <td>
                        <abbr>
                            <a 
                            tabindex="0" 
                            href="#" 
                            class="clickable" 
                            data-container="body"
                            data-toggle="popover" 
                            data-placement="right" 
                            onclick="void(0);" 
                            data-content="Maximum amount of configuration data that can be stored for your deployments."
                            >
                                <strong>Database storage</strong> <i class="fa fa-info-circle"></i>
                            <a>
                        <abbr>
                    </td>
                    <td>500GB</td>
                    <td>1TB</td>
                    <td>100TB</td>
                </tr>
                <tr>
                    <td>
                        <abbr>
                            <a 
                            tabindex="0" 
                            href="#" 
                            class="clickable" 
                            data-container="body"
                            data-toggle="popover" 
                            data-placement="right" 
                            onclick="void(0);" 
                            data-content="Maximum size of any single package stored for your deployments."
                            >
                                <strong>Package size</strong> <i class="fa fa-info-circle"></i>
                            <a>
                        <abbr>
                    </td>
                    <td>5GB</td>
                    <td>5GB</td>
                    <td>10GB</td>
                </tr>
            </tbody>
        </table>
        <small id="trial-disclaimer" class="text-muted">Trial licenses are valid for 30 days with unlimited targets, and other limits as specified above per-platform.</small>
    </div>
</section>

<section class="stripe stripe-gray">
    <div class="container">
        <div id="carouselExampleIndicators" class="social-proof-carousel carousel slide" data-ride="carousel">
            <div class="carousel-indicators position-relative social-proof-carousel__container">
                <img data-target="#carouselExampleIndicators" data-slide-to="0" type="button" class="social-proof-carousel__logo active" src="https://localhost:7223/octopus-public/images/home/new-logos/xero.svg"/>
                <img data-target="#carouselExampleIndicators" data-slide-to="1" type="button" class="social-proof-carousel__logo" src="https://localhost:7223/octopus-public/images/home/new-logos/stack-overflow-sm.png" style="height: 2.6rem;"/>
                <img data-target="#carouselExampleIndicators" data-slide-to="2" type="button" class="social-proof-carousel__logo" src="https://localhost:7223/octopus-public/images/landing/caselogos/intelligentmedicalobjects.png?v=985f925418"/>
                <img data-target="#carouselExampleIndicators" data-slide-to="3" type="button" class="social-proof-carousel__logo" src="https://localhost:7223/octopus-public/images/home/new-logos/nasa.svg"/>
                <img data-target="#carouselExampleIndicators" data-slide-to="4" type="button" class="social-proof-carousel__logo" src="https://localhost:7223/octopus-public/images/landing/caselogos/autosoft.png?v=9c71239181"/>
                <img data-target="#carouselExampleIndicators" data-slide-to="5" type="button" class="social-proof-carousel__logo" src="https://localhost:7223/octopus-public/images/landing/caselogos/masstech.png?v=1655f121c0"/>
            </div>
            <div class="carousel-inner mx-auto mt-4" style="max-width: 800px;">
                <div class="carousel-item active">
                    <div class="d-flex align-items-center">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="235" height="235" viewBox="0 0 235 235" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M112.388 1.23769C138.878 -4.91267 168.158 12.7342 184.89 34.7966C200.4 55.2467 186.492 85.6175 194.935 110.079C203.809 135.792 239.35 151.862 234.558 178.704C229.884 204.886 197.903 214.907 174.299 225.665C154.769 234.566 133.675 236.095 112.388 234.384C92.6282 232.795 73.7027 227.43 57.1131 216.242C39.8146 204.575 25.6808 189.027 16.6801 169.834C6.56651 148.267 -5.9311 123.184 3.13008 101.125C12.1509 79.1639 42.9601 79.5508 60.2629 63.7319C80.6998 45.048 85.7482 7.42284 112.388 1.23769Z" fill="#E5F4FF"/>
                            </svg>
                            <img src="https://i.octopus.com/site/team-images/67d28950-85bc-4349-b201-71ce8f12d7ed.png" class="position-absolute img-circle" />
                        </div>
                        <div class="d-flex flex-column ml-6" style="max-width: 7070%">
                            <p class="fs-18">"Octopus is a cornerstone of our processes. I can't think of a software product that does more for us."</p>
                            <p class="fs-18"><strong>— Brendan McGill</strong>, Software Development Manager</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex align-items-center">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="235" height="235" viewBox="0 0 235 235" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M112.388 1.23769C138.878 -4.91267 168.158 12.7342 184.89 34.7966C200.4 55.2467 186.492 85.6175 194.935 110.079C203.809 135.792 239.35 151.862 234.558 178.704C229.884 204.886 197.903 214.907 174.299 225.665C154.769 234.566 133.675 236.095 112.388 234.384C92.6282 232.795 73.7027 227.43 57.1131 216.242C39.8146 204.575 25.6808 189.027 16.6801 169.834C6.56651 148.267 -5.9311 123.184 3.13008 101.125C12.1509 79.1639 42.9601 79.5508 60.2629 63.7319C80.6998 45.048 85.7482 7.42284 112.388 1.23769Z" fill="#E5F4FF"/>
                            </svg>
                            <img src="https://i.octopus.com/site/team-images/67d28950-85bc-4349-b201-71ce8f12d7ed.png"  class="position-absolute img-circle" />
                        </div>
                        <div class="d-flex flex-column ml-6" style="max-width: 70%">
                            <p class="fs-18">“Octopus closed the gap for us, so we can now deploy to both our data center and cloud service providers”.</p>
                            <p class="fs-18"><strong>— Chris Hunt</strong>, Staff Site Reliability Engineer</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex align-items-center">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="235" height="235" viewBox="0 0 235 235" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M112.388 1.23769C138.878 -4.91267 168.158 12.7342 184.89 34.7966C200.4 55.2467 186.492 85.6175 194.935 110.079C203.809 135.792 239.35 151.862 234.558 178.704C229.884 204.886 197.903 214.907 174.299 225.665C154.769 234.566 133.675 236.095 112.388 234.384C92.6282 232.795 73.7027 227.43 57.1131 216.242C39.8146 204.575 25.6808 189.027 16.6801 169.834C6.56651 148.267 -5.9311 123.184 3.13008 101.125C12.1509 79.1639 42.9601 79.5508 60.2629 63.7319C80.6998 45.048 85.7482 7.42284 112.388 1.23769Z" fill="#E5F4FF"/>
                            </svg>
                            <img src="https://i.octopus.com/site/team-images/67d28950-85bc-4349-b201-71ce8f12d7ed.png"  class="position-absolute img-circle" />
                        </div>
                        <div class="d-flex flex-column ml-6" style="max-width: 70%">
                            <p class="fs-18">"Octopus has saved us from working many late nights, as we now deploy smaller chunks more frequently, with deployments measured in minutes not hours."</p>
                            <p class="fs-18"><strong>— Leslie Brody</strong>, Principle Site Reliability Engineer</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex align-items-center">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="235" height="235" viewBox="0 0 235 235" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M112.388 1.23769C138.878 -4.91267 168.158 12.7342 184.89 34.7966C200.4 55.2467 186.492 85.6175 194.935 110.079C203.809 135.792 239.35 151.862 234.558 178.704C229.884 204.886 197.903 214.907 174.299 225.665C154.769 234.566 133.675 236.095 112.388 234.384C92.6282 232.795 73.7027 227.43 57.1131 216.242C39.8146 204.575 25.6808 189.027 16.6801 169.834C6.56651 148.267 -5.9311 123.184 3.13008 101.125C12.1509 79.1639 42.9601 79.5508 60.2629 63.7319C80.6998 45.048 85.7482 7.42284 112.388 1.23769Z" fill="#E5F4FF"/>
                            </svg>
                            <img src="https://i.octopus.com/site/team-images/67d28950-85bc-4349-b201-71ce8f12d7ed.png" class="position-absolute img-circle" />
                        </div>
                        <div class="d-flex flex-column ml-6" style="max-width: 70%"">
                            <p class="fs-18">"Implementing Octopus Deploy into our software delivery lifecycle has significantly reduced the complexity, errors, and man-power required to deploy applications."</p>
                            <p class="fs-18"><strong>— Michael Knopf</strong>, Software Architect</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex align-items-center">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="235" height="235" viewBox="0 0 235 235" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M112.388 1.23769C138.878 -4.91267 168.158 12.7342 184.89 34.7966C200.4 55.2467 186.492 85.6175 194.935 110.079C203.809 135.792 239.35 151.862 234.558 178.704C229.884 204.886 197.903 214.907 174.299 225.665C154.769 234.566 133.675 236.095 112.388 234.384C92.6282 232.795 73.7027 227.43 57.1131 216.242C39.8146 204.575 25.6808 189.027 16.6801 169.834C6.56651 148.267 -5.9311 123.184 3.13008 101.125C12.1509 79.1639 42.9601 79.5508 60.2629 63.7319C80.6998 45.048 85.7482 7.42284 112.388 1.23769Z" fill="#E5F4FF"/>
                            </svg>
                            <img src="https://i.octopus.com/site/team-images/67d28950-85bc-4349-b201-71ce8f12d7ed.png" class="position-absolute img-circle" />
                        </div>
                        <div class="d-flex flex-column ml-6" style="max-width: 70%">
                            <p class="fs-18">"Octopus Deploy allowed us to eliminate all of the manual deployment steps from our software development life-cycle, saving us time and avoiding deployment errors."</p>
                            <p class="fs-18"><strong>— Bill Jones</strong>, Software Architect</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex align-items-center">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="235" height="235" viewBox="0 0 235 235" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M112.388 1.23769C138.878 -4.91267 168.158 12.7342 184.89 34.7966C200.4 55.2467 186.492 85.6175 194.935 110.079C203.809 135.792 239.35 151.862 234.558 178.704C229.884 204.886 197.903 214.907 174.299 225.665C154.769 234.566 133.675 236.095 112.388 234.384C92.6282 232.795 73.7027 227.43 57.1131 216.242C39.8146 204.575 25.6808 189.027 16.6801 169.834C6.56651 148.267 -5.9311 123.184 3.13008 101.125C12.1509 79.1639 42.9601 79.5508 60.2629 63.7319C80.6998 45.048 85.7482 7.42284 112.388 1.23769Z" fill="#E5F4FF"/>
                            </svg>
                            <img src="https://i.octopus.com/site/team-images/67d28950-85bc-4349-b201-71ce8f12d7ed.png" class="position-absolute img-circle" />
                        </div>
                        <div class="d-flex flex-column ml-6" style="max-width: 70%">
                            <p class="fs-18">"Our deployments are so consistent, our support team have so few issues now and are constantly asking when we can convert our legacy product to an Octopus method!"</p>
                            <p class="fs-18"><strong>— Richard Heap</strong>, UK Engineering Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="stripe stripe-white">
    <div class="container">
        <div class="text-center">
            <h2 class="fs-34 mb-4">Frequently Asked Questions</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div>
                    <h5>What is a target?</h5>
                    <p>Deployment targets are the servers and cloud PaaS resources (typically the number of virtual machines) that you deploy to. You will only be charged for the targets you use in your cloud instance.</p>
                </div>
                <div>
                    <h5>What features do you offer?</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                </div>
                <div>
                    <h5>What license is best for me?</h5>
                    <p>ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div>
                    <h5>How can I estimate my targets?</h5>
                    <p>This calculator estimates your targets based on the number of machines, nodes, and serverless functions you use each month, so you'll only pay for the targets you need. </p>
                </div>
                <div class="target-calculator">
                    <div class="target-calculator__header">
                        <div class="target-calculator__headline">
                            <h6 class="target-calculator__title">Estimate your targets</h6>
                            <button type="button" class="btn btn-link btm-sm target-calculator__help-button" id="need-help">
                                <span>Need help</span>
                                <i class="far fa-question-circle"></i>
                            </button>
                        </div>
                    </div>
                    <div class="target-calculator__body form-group">
                        <div> 
                            <label class="small text-muted nowrap" for="machines" data-toggle="tooltip" data-placement="top" title="" data-original-title="Octopus clearly shows you how many deployment targets you're using. Octopus Server: The license configuration page (Configuration → License) shows you how many targets you’re currently using. Octopus Cloud: The Octopus Instance overview, available via Control Center, shows you how many targets are in use. You can also review your Infrastructure dashboard per space to get a more detailed view.">Machines <i class="far fa-question-circle"></i></label> 
                            <input type="number" class="form-control" id="machines" value="10" min="0" placeholder="e.g. 10" aria-describedby="">
                        </div>
                        <div> 
                            <label class="pl-md-4 pl-sm-0 small text-muted nowrap" for="serverless" data-toggle="tooltip" data-placement="top" title="" data-original-title="Octopus clearly shows you how many deployment targets you're using. Octopus Server: The license configuration page (Configuration → License) shows you how many targets you’re currently using. Octopus Cloud: The Octopus Instance overview, available via Control Center, shows you how many targets are in use. You can also review your Infrastructure dashboard per space to get a more detailed view.">Serverless functions <i class="far fa-question-circle"></i></label> 
                            <div class='d-flex align-items-center'>
                                <span class="pr-2 text-muted nowrap">+ (</span>
                                <input type="number" class="form-control" id="serverless" value="10" min="0" placeholder="e.g. 10" aria-describedby="">
                                <span class="pl-2 text-muted nowrap">÷ 5 ) =</span>
                            </div>
                        </div>
                        <div> 
                            <label class="small text-muted nowrap" data-toggle="tooltip" data-placement="top" title="" data-original-title="These are your estimated targets. We'll use this number to calculate your new price.">Est. targets <i class="far fa-question-circle"></i></label> 
                            <h4 class="text-normal m-0 fw-800" id="target_license_required">2000</h4>
                        </div>
                    </div>
                    <div class="target-calculator__cta">
                        <a href="#" type="button" class="btn btn-primary" id="get-a-quote">Get a quote</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="~/pricing/change-2022?_storyblok=167202172&_storyblok_c=page&_storyblok_tk%5Bspace_id%5D=92909&_storyblok_tk%5Btimestamp%5D=1659069410&_storyblok_tk%5Btoken%5D=5f457e3723201772e0fbb62ca3a8d6cc0b887d8e&_storyblok_version=&_storyblok_lang=default&_storyblok_release=0#faq" class="btn btn-outline-primary btn-lg">See more FAQs</a>
        </div>
    </div>
</section>

<partial name="_DefaultCTA" />


<script>
    (function () {
        const price = document.querySelector("#card-price");
        const billing = document.querySelector("#billing-cycle");
        const annually = document.querySelector("#annually");
        const monthly = document.querySelector("#monthly");
        const firstSelected = document.querySelector("[data-selected='true']");

        function addSelectedStyles(target) {
            target.classList.remove("btn-link");
            target.classList.remove("color-text-muted");
            target.classList.add("btn-primary");
        }

        function removeSelectedStyles(target) {
            target.classList.add("btn-link");
            target.classList.add("color-text-muted");
            target.classList.remove("btn-primary");
        }

        function setPrice(priceTarget, newPrice) {
            priceTarget.innerText = newPrice.dataset.price;
        }

        function setBilling(billingTarget, billingType) {
            billingTarget.innerText = billingType.dataset.billingCycle;
        }

        function handleDiscount({target}) {
            const selected = document.querySelector("[data-selected='true']")
            if(target.dataset.selected === 'true') {
                return;
            } else {
                target.setAttribute('data-selected', "true");
                selected.setAttribute('data-selected', "false");
                addSelectedStyles(target);
                removeSelectedStyles(selected);
            }
            setPrice(price, target);
            setBilling(billing, target);
        }
        
        annually.addEventListener("click", handleDiscount);
        monthly.addEventListener("click", handleDiscount);
        addSelectedStyles(firstSelected);
        setPrice(price, firstSelected);
        setBilling(billing, firstSelected)
    })();

</script>
